@mixin scroll {
    overflow: hidden;
    &::hover{
        overflow: auto;
    }
    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        
    }
    &::-webkit-scrollbar-thumb{
        background: #ddd;
        border-radius: 5px;
    }
}